In [1]:
import os
import sys
# to import the files in path
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from src.orthanc_scrapper import *
from src.kz.kz_bi import *
from src.kz.krisha import *
logging.getLogger('WDM').setLevel(logging.NOTSET)

In [2]:
scrap_krisha('Almaty','jazz')

,Floor,Number Of Floors,Surface,Price,Entrance,Link
0,8,16,38.9,32500000,na,https://krisha.kz/a/show/679048322
0,13,16,39.0,27900000,na,https://krisha.kz/a/show/675627215
0,7,12,40.0,33300000,na,https://krisha.kz/a/show/679362497
0,13,16,43.0,44000000,na,https://krisha.kz/a/show/679544307
0,14,16,40.0,30500000,na,https://krisha.kz/a/show/672691378
0,10,17,39.0,28000000,na,https://krisha.kz/a/show/679417291
0,11,14,38.7,28500000,na,https://krisha.kz/a/show/678529701
0,8,16,38.9,32500000,na,https://krisha.kz/a/show/679048319
0,13,0,39.0,28000000,na,https://krisha.kz/a/show/678272512
0,7,12,39.0,33300000,na,https://krisha.kz/a/show/679391211
0,4,16,37.6,29900000,na,https://krisha.kz/a/show/679417026
0,7,12,40.0,34000000,na,https://krisha.kz/a/show/675414522
0,12,16,38.7,30000000,na,https://krisha.kz/a/show/675090158
0,12,16,41.0,33000000,na,https://krisha.kz/a/show/679518379

In [3]:
city = 'astana'
jk_name = 'Nexpo'
scrap_krisha(city,jk_name)

,Floor,Number Of Floors,Surface,Price,Entrance,Link
0,10,16,39.0,30800000,na,https://krisha.kz/a/show/679312112
0,16,16,39.0,32000000,na,https://krisha.kz/a/show/678928238

In [4]:
scrap_krisha(city,'Aqua')

,Floor,Number Of Floors,Surface,Price,Entrance,Link
0,5,9,42.82,25500000,na,https://krisha.kz/a/show/679522813
0,8,12,41.39,25000000,na,https://krisha.kz/a/show/678304025